.skin-green-light .main-header .logo { 
    background: #fff;
}
.main-header .logo .logo-lg b{
    color: #41b44f;
}
.treeview-menu>li {
    margin: 0 0 0 1em;
}
input {
    cursor: default;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  padding: 5px;
  border-radius: 1px;
  outline: none;
  width: 80%;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 20%;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 1px;
  cursor: pointer;
  font-size: 20px;
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #41B34F;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tec .description-text {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.description-text span {
    display: block;
    line-height: 8px;
    letter-spacing: 1.5px;
}

td.active.day {
    background: #3bb449;
    border-radius: 2px;
    /* border: 1px solid; */
    color: #fff;
}

.table-condensed th {
     text-align: center;
}