    #toggle_switch_container .checkbox {
        display: none;
    }

    #toggle_switch_container .switch {
        align-items: center;
        background-color: gray;
        border-radius: 500px;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;
        user-select: none;
        width: 80px;
    }

    #toggle_switch_container .checkbox:checked ~ .switch {
        background-color: blue;
    }

    #toggle_switch_container .checkbox:not(:checked) ~ .switch {
        background-color: gray;
    }

    #toggle_switch_container .switch__left,
    #toggle_switch_container .switch__right,
    #toggle_switch_container {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    #toggle_switch_container .checkbox:checked ~ .switch .switch__left {
        visibility: hidden;
    }

    #toggle_switch_container .checkbox:not(:checked) ~ .switch .switch__right {
        visibility: hidden;
    }

    #toggle_switch_container .switch__circle {
        height: 40px;
        padding: 5px;
        position: absolute;
        transition: all 0.1s linear;
        width: 40px;
    }

    #toggle_switch_container .checkbox:checked ~ .switch .switch__circle {
        left: 0;
        right: calc(100% - 40px);
    }

    #toggle_switch_container .checkbox:not(:checked) ~ .switch .switch__circle {
        left: calc(100% - 40px);
        right: 0;
    }

    #toggle_switch_container .switch__circle-inner {
        background-color: white;
        border-radius: 50%;
        display: block;
        height: 100%;
        width: 100%;
    }